<div id="logincontent" fxLayout fxLayoutAlign="center center" style="min-height: 100vh">

  <mat-card fxFlex.gt-md="30" fxFlex.gt-xs="60" fxFlex="100">
    <mat-card-header style="background-color:gold ; color:aliceblue ;">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Bienvenido chaleciano!</mat-card-title>
      <mat-card-subtitle>Inicia sesion </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Username" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button color="primary">Entrar</button><br>
      <a mat-button href="https://www.google.com/" color="accent" target="_blank">Soy alumno nuevo, sin estrenar!</a>
      <a mat-button href="https://www.google.com/" color="warn" target="_blank">Quiero postular como voluntario!</a>
      <br>
    </mat-card-actions> 
  </mat-card>
</div>
